body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.jumbotron {
  color: rgb(102, 59, 2);
}

.grid-row:after {
  clear: both;
  content: "";
  display: table;
}

.box {
  background: rgb(23, 28, 54);
  border: 1px solid rgb(180, 31, 173);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
  position: relative;
  z-index: 0;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.startBox {
  background-color: rgb(187, 187, 187);
  border: 1px solid rgb(180, 31, 173);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
  z-index: 1;
}
.endBox {
  background: rgb(0, 0, 0);
  border: 1px solid rgb(180, 31, 173);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
  z-index: 2;
}
.transitionBox {
  background: rgb(241, 7, 7);
  border: 1px solid rgb(180, 31, 173);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
  z-index: 3;
}
.coveredBox {
  background: rgb(62, 211, 211);
  border: 1px solid rgb(180, 31, 173);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
  z-index: 4;
  animation: coverpopup 2s;
}
.resultBox {
  background: rgb(40, 37, 236);
  border: 1px solid rgb(180, 31, 173);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
  transition: background 0.5s ease;
  z-index: 6;
  animation: resultpopup 0.7s;
}
.wallBox {
  background: rgb(102, 59, 2);
  border: 1px solid rgb(180, 31, 173);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
  animation: wallpopup 1s;
}

.box:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.graph {
  display: flex;
  flex-direction: column;
}

.nodeInfo {
  margin: 0px;
  padding: 20px 0px;
  padding-bottom: 0px;
  background-color: #0f4c75;
  position: relative;
  margin: 0px 0px;
}
.nodeInfo ul {
  position: relative;
  display: inline-block;
}
.nodeInfo ul li {
  display: inline-block;
  margin: 10px;
  color: white;
}
.nodeInfo ul li box {
  margin-right: 20px;
}

.status {
  background-color: #0f4c75;
  padding-left: 80px;
  padding-bottom: 30px;
  color: rgb(172, 172, 172);
  font-size: 30px;
}

@keyframes resultpopup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wallpopup {
  0% {
    transform: scale(1);
  }
  50% {
    background-color: red;
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes coverpopup {
  0% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  100% {
  }
}
